<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StreamerBotLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <StreamerBotLib.Properties.Settings>
      <setting name="AppCurrWorkingAppData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppCurrWorkingPopup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatPopOutOpacity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrencyOnline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrencyStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugLiveStream" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugBlackjackGame" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugBotController" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugCommandSystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugCommonSystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugCurrencySystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugDataManager" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugDiscordBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugFormatData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUIBotComs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUIDataViews" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUIEvents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUIHelpers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUIProcessWatcher" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUITabSizes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUIThemes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugGUITwitchTokenAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugLocalizedMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugLogOverlays" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugModerationSystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugOutputMsgParsing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugOverlaySystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugStatSystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugSystemController" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugThreadManager" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchBots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchChatBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchClipBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchFollowBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchLiveBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchMultiLiveBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchPubSubBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchTokenBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugTwitchUserSvcBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableManageDataOptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpanderBotUsageInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpanderCredentialsHelp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstUserChatMsg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstUserJoinedMsg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GameBlackJackHouseStands" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="GameBlackJackPayoutDealt21" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="GameBlackJackPayoutMessage" serializeAs="String">
        <value>You won #value currency!</value>
      </setting>
      <setting name="GameBlackJackPayoutReach21" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="GameBlackJackPayoutUnder21" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="GitHubCheckStable" serializeAs="String">
        <value>https://github.com/WrithemTwine/TwineChatBot/releases/latest</value>
      </setting>
      <setting name="GiveawayBegMsg" serializeAs="String">
        <value>The message when beginning giveaway - blank is no chat message</value>
      </setting>
      <setting name="GiveawayCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GiveawayEndMsg" serializeAs="String">
        <value>The message when ending giveaway - blank is no chat message</value>
      </setting>
      <setting name="GiveawayMaxEntries" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GiveawayMultiUser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GiveawayWinMsg" serializeAs="String">
        <value>The Giveaway winner is: #winner!</value>
      </setting>
      <setting name="GridTabifyStreamRaids" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridTabifyStreamRaidsWidth" serializeAs="String">
        <value>950</value>
      </setting>
      <setting name="GridTabifyUserFollow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridTabifyUserFollowWidth" serializeAs="String">
        <value>950</value>
      </setting>
      <setting name="LogBotStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogExceptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageClearButtonEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageDataArchiveMsg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManageFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageGiveawayUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageOutRaidData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageOverlayTicker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageRaidData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageStreamStats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManageUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayActionPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MediaOverlayAutoServerStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayChannelPoints" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayCSSExpandHelp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayHelpExpand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MediaOverlayLogExceptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayMRUPathSelect" serializeAs="String">
        <value />
      </setting>
      <setting name="MediaOverlayShoutoutClips" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayStartWithStream" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayTickerMarquee" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayTickerMarqueeTime" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MediaOverlayTickerMulti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayTickerPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MediaOverlayTickerRotate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaOverlayTickerRotateTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MediaOverlayTickerSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="MediaOverlayTickerSingle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MediaOverlayTickerStatic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MediaOverlayUseSameStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModerateUserLearnMsgs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModerateUsersAction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModerateUsersWarn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ModeratorApprovalTimeout" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MsgAutoShout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MsgBotConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MsgCommandNotFound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MsgInsertMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MsgLive" serializeAs="String">
        <value>#user is now live streaming #category - #title! Come join and say hi at: #url</value>
      </setting>
      <setting name="MsgNoMe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MsgPerComMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MsgSendSOToChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MsgSocialSeparate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MsgWelcomeStreamer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PostMultiLive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatAboveChatCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatAboveUserCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatChatCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="RepeatChatMinutes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="RepeatLiveReset" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatLiveResetShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatNoAdjustment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RepeatTimerCommands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatTimerComSlowdown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatUserCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RepeatUserMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RepeatUseThresholds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatWhenLive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThemeDark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThemeLight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TwitchAccessToken" serializeAs="String">
        <value>Specify the OAuth access token for bot authentication</value>
      </setting>
      <setting name="TwitchAddFollowerNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchAddFollowersStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchAuthBotAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthBotAuthCode" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthBotClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthBotRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthClientId" serializeAs="String">
        <value>From Twitch for registered application</value>
      </setting>
      <setting name="TwitchAuthRedirectURL" serializeAs="String">
        <value>http://localhost:3000</value>
      </setting>
      <setting name="TwitchAuthStreamerAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthStreamerAuthCode" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthStreamerClientId" serializeAs="String">
        <value>From Twitch for registered application</value>
      </setting>
      <setting name="TwitchAuthStreamerClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthStreamerRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchAuthUseInternalBrowser" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TwitchBotUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchBotUserName" serializeAs="String">
        <value>Twitch account the bot will use to post</value>
      </setting>
      <setting name="TwitchChannelName" serializeAs="String">
        <value>Twitch channel the bot will monitor</value>
      </setting>
      <setting name="TwitchChannelUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchChatBotAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChatBotConnectOnline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchChatBotDisconnectOffline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchClientID" serializeAs="String">
        <value>From registered chatbot at https://dev.twitch.tv/console</value>
      </setting>
      <setting name="TwitchClipAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchClipConnectOnline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchClipDisconnectOffline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchClipPostChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchClipPostDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchDisconnectBot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchFollowerAutoBanBots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchFollowerAutoBanCount" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TwitchFollowerAutoRefresh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchFollowerConnectOnline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchFollowerDisconnectOffline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchFollowerEnableMsgLimit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchFollowerMsgLimit" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="TwitchFollowerRefreshHrs" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="TwitchFollowerSvcAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchFrequencyClipTime" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TwitchFrequencyFollow" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TwitchGoLiveFrequency" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TwitchLiveStreamSvcAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchMultiLiveAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchPriorBotName" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchPriorChannelName" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchPruneNonFollowers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchPubSubChannelPoints" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TwitchPubSubOnlineMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchRaidShoutOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwitchRefreshDate" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="TwitchRefreshToken" serializeAs="String">
        <value>Optional, some sites provide this token to refresh an OAuth access token</value>
      </setting>
      <setting name="TwitchStreamClientId" serializeAs="String">
        <value>From registered chatbot for Stream Channel at https://dev.twitch.tv/console</value>
      </setting>
      <setting name="TwitchStreamerOauthRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchStreamerRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchStreamerTokenDate" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="TwitchStreamOauthToken" serializeAs="String">
        <value>Specify the OAuth access token for streamer channel bot authentication</value>
      </setting>
      <setting name="TwitchTokenUseAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserPartyStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserPartyStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WelcomeCustomMsg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WelcomeDisabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GUIHeight" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="GUIWidth" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="GUITop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GUILeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EFCDatabaseProviderSqlServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EFCDatabaseProviderSqlite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EFCDatabaseProviderCosmos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EFCDatabaseProviderPostgreSQL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EFCDatabaseProviderMySql" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EFCDatabaseProviderKNet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EFCConnectStringSqlServer" serializeAs="String">
        <value>Server=(localdb)\\mssqllocaldb;Database=TwineStreamerBotDB;Trusted_Connection=True;</value>
      </setting>
      <setting name="EFCConnectStringSqlite" serializeAs="String">
        <value>Data Source=TwineStreamerBot.db</value>
      </setting>
      <setting name="EFCConnectStringCosmos" serializeAs="String">
        <value> AccountEndpoint=https://localhost:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==;databaseName=TwineStreamerBotDB</value>
      </setting>
      <setting name="EFCConnectStringPostgreSQL" serializeAs="String">
        <value>Host=localhost; Database=TwineStreamerBotdb; Username=postgres; Password=mysecretpassword</value>
      </setting>
      <setting name="EFCConnectStringMySql" serializeAs="String">
        <value>server=localhost;database=TwineStreamerBotdb;user=user;password=password</value>
      </setting>
      <setting name="EFCConnectStringKNet" serializeAs="String">
        <value>Server={server_address};Database=TwineStreamerBotdb;UserId={username};Password={password};</value>
      </setting>
    </StreamerBotLib.Properties.Settings>
  </userSettings>
</configuration>